h1 {
  width: 100%;
  background: #55555a;
  padding: 0.5em;
  margin: 0;
  color: #ffffff;
}

body.page-dashboard {
  background-image: url(assets/images/Background_Pattern.png);
  color: #FFFFFF;
}

.page-dashboard .title {
  font-family: "Gotham Narrow Light";
  font-size: 60pt;
}
